<form [formGroup]="taskForm" (ngSubmit)="onClose()">
  <div class="modal-header">
    <h5 class="modal-title" id="update-user-modal-title">Category</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="onDismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <label class="form-label" for="name"> Name </label>
      <input
        class="form-control"
        [ngClass]="{ 'is-invalid': closeButtonClicked && name.invalid }"
        id="name"
        type="text"
        formControlName="name"
        required
      />
      <div class="invalid-feedback" *ngIf="name.errors?.['required']">
        Name required
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="description"> Description </label>
      <input
        class="form-control"
        id="description"
        type="text"
        formControlName="description"
      />
    </div>

    <div class="mb-3">
      <label class="form-label" for="deadline"> Deadline </label>
      <input
        class="form-control"
        [ngClass]="{ 'is-invalid': closeButtonClicked && deadline.invalid }"
        id="deadline"
        type="text"
        formControlName="deadline"
        required
      />
      <div class="invalid-feedback" *ngIf="deadline.errors?.['required']">
        Deadline required
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-dark">Submit</button>
  </div>
</form>
